.bannerSlider {
  width: 100%; /* Pastikan slider mengambil lebar penuh */
  max-width: 1200px; /* Atur lebar maksimum jika diperlukan */
  margin: 0 auto; /* Pusatkan slider */
}

.slide {
  position: relative;
}

.slide img {
  width: 100%; /* Gambar akan menyesuaikan dengan lebar slider */
  height: 400px; /* Atur tinggi tetap untuk semua gambar */
  object-fit: cover; /* Pangkas gambar agar sesuai dengan dimensi */
  border-radius: 8px; /* Opsional: tambahkan radius untuk sudut */
}

/* Tambahkan gaya untuk .bannerImage */
.bannerImage {
  width: 100%;
  height: 400px; /* Sesuaikan tinggi sesuai kebutuhan */
  object-fit: cover;
}